* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: white;
}

:root {
    --default-width: 60%;
    --h1-left: "principe img""section section";
    --h1-right: "img principe""section section";
    --light-blue: #30A8FF;
    --light-yellow: #FFCB12;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}

header img {
    width: 40%;
}

header nav {
    display: flex;
    width: var(--default-width);
}

nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-left: auto;
}

#banner {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: var(--default-width);
}

article {
    display: grid;
    grid-template: 12em 1fr / repeat(2, 1fr);
    gap: 2em;
}

article>* {
    border-radius: 16px;
    padding: 1em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

article>img {
    padding: 0;
    grid-area: img;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.principe {
    padding: 1em;
    grid-area: principe;
    color: white;
}

section {
    padding: 0;
    grid-area: section;
}

section details {
    padding: 1em;
    border-bottom: 1px solid rgb(230, 230, 230);
}

section details:last-of-type {
    border: none;
}

#intro {
    grid-template-areas: var(--h1-left);
}

#intro>.principe {
    background: rgb(246, 0, 179);
    background: linear-gradient(148deg, rgba(246, 0, 179, 1) 0%, rgba(213, 0, 80, 1) 100%);
}

#waarneembaar {
    grid-template-areas: var(--h1-right);
}

#waarneembaar>.principe {
    background-color: var(--light-blue);
}

#bedienbaar {
    grid-template-areas: var(--h1-left);
}

#bedienbaar>.principe {
    background-color: var(--light-yellow);
}

#begrijpbaar {
    grid-template-areas: var(--h1-right);
}

#begrijpbaar>.principe {
    background-color: var(--light-blue);
}

#robuust {
    grid-template-areas: var(--h1-left);
}

#robuust>.principe {
    background-color: var(--light-yellow);
}