html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --default-width: 87vw;
    --min-width: 71rem;
    --max-width: 100rem;
    --small-size: .5rem;
    --medium-size: 1rem;
    --large-size: 2rem;
    --xlarge-size: 4rem;
    --xxlarge-size: 8rem;
    --small-radius: 8px;
    --medium-radius: 16px;
    --large-radius: 64px;
    --c-achtergrond: #F8F8F8;
    --c-schaduw: 0px 0px 40px rgba(0, 0, 0, 0.02);
    --c-huistijl-magenta: linear-gradient(123.52deg, #FF0053 0%, #CD0069 100%);
}

* {
    scroll-margin: 22rem;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: var(--c-achtergrond);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--xlarge-size);
    width: var(--default-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: var(--xxlarge-size) 0;
}

#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: var(--medium-size) 0;
    background-color: white;
}

#top-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--medium-size);
}

#welkom {
    display: grid;
    gap: var(--medium-size);
    margin-bottom: 25vh;
    grid-template-columns: repeat(4, 1fr);
}

#introductie {
    grid-column: 1 / 3;
    grid-row: 1;
}

#slogan {
    font-size: var(--xlarge-size);
}

#introductie p {
    font-size: var(--large-size);
    margin-bottom: var(--xlarge-size);
}

#illustratie {
    display: flex;
    justify-content: flex-end;
    height: 60vh;
    grid-column: 2 / 5;
    grid-row: 1;
    z-index: -1;
}

#welkom img {
    width: 82%;
    object-fit: contain;
}

.knoppen {
    display: flex;
    gap: var(--large-size);
}

.knop {
    text-decoration: none;
    color: white;
    padding: var(--small-size) var(--large-size);
    border-radius: var(--small-radius);
    font-size: 1.5rem;
    font-weight: bold;
}

#begin {
    background: var(--c-huistijl-magenta);
}

#meer {
    color: #FF0053;
    border: 1px solid #FF0053;
}

#uitleg {
    display: grid;
    width: 100%;
    gap: var(--xlarge-size);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#uitleg h2 {
    font-size: var(--large-size);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--large-size);
    /* aspect-ratio: 1/1; */
    background-color: white;
    box-shadow: var(--c-schaduw);
    border-radius: var(--large-radius);
}

.item .tekstueel-deel h3, p {
    font-size: clamp(1.5rem, -0.1rem + 2vw, 2rem);
}

.item img {
    margin: auto;
    width: 75%;
}

#toolgankelijk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    aspect-ratio: initial;
}

#toolgankelijk img {
    height: 100%;
    object-fit: contain;
}