html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --default-width: 80vw;
    --min-width: 60rem;
    --max-width: 100rem;
    --small-size: .5rem;
    --medium-size: 1.5rem;
    --large-size: 2rem;
    --xlarge-size: 4rem;
    --xxlarge-size: 8rem;
    --small-radius: 8px;
    --medium-radius: 16px;
    --large-radius: 32px;
    --c-achtergrond: #f3f3f3;
    --c-schaduw: 0px 0px 40px rgba(0, 0, 0, 0.025);
    --c-schaduw-hover: 0px 0px 40px rgba(0, 0, 0, 0.075);
    --c-huistijl-magenta: linear-gradient(123.52deg, #FF0053 0%, #CD0069 100%);
}

* {
    scroll-margin: 14rem;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: var(--c-achtergrond);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--large-size);
    width: var(--default-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: var(--xlarge-size) 0;
}

.accent-magenta {
    background: var(--c-huistijl-magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    /* padding: var(--medium-size) 0; */
    background-color: white;
}

#top-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--medium-size);
}

#welkom {
    display: grid;
    gap: var(--medium-size);
    margin-bottom: 25vh;
    grid-template-columns: repeat(4, 1fr);
}

#introductie {
    grid-column: 1 / 3;
    grid-row: 1;
}

#slogan {
    font-size: var(--xlarge-size);
}

#toelichting {
    font-size: var(--large-size);
    width: 30rem;
}

#inleiding {
    font-size: var(--medium-size);
    margin-bottom: var(--xxlarge-size);
}

#illustratie {
    display: flex;
    justify-content: flex-end;
    /* height: 60vh; */
    grid-column: 2 / 5;
    grid-row: 1;
    width: 100%;
    z-index: -1;
}

#welkom img {
    width: 80%;
    object-fit: contain;
}

.knoppen {
    display: flex;
    gap: var(--large-size);
}

.knop {
    text-decoration: none;
    color: white;
    padding: var(--small-size) var(--large-size);
    border-radius: var(--small-radius);
    font-size: 1.5rem;
    font-weight: bold;
}

.knop:hover {
    transform: scale(1.01);
    box-shadow: var(--c-schaduw-hover);
}

.primair {
    background: var(--c-huistijl-magenta);
}

.secundair {
    color: #FF0053;
    border: 1px solid #FF0053;
}

#uitleg {
    display: grid;
    width: 80%;
    gap: var(--large-size);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#uitleg h2 {
    font-size: var(--large-size);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--large-size);
    aspect-ratio: 1/1;
    background-color: white;
    box-shadow: var(--c-schaduw);
    border-radius: var(--large-radius);
    transition: .5s;
}

.item:hover {
    transform: scale(1.005);
    box-shadow: var(--c-schaduw-hover);
}

.item .tekstueel-deel h3,
p {
    font-size: clamp(1rem, -0.5rem + 2vw, 2rem);
}

.item img {
    flex: 1 1 auto;
    margin: 0 auto;
    width: clamp(85%, -.5rem + 2vw, 95%);
    object-fit: contain;
}

#toolgankelijk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    aspect-ratio: initial;
}

#toolgankelijk img {
    height: 100%;
    object-fit: contain;
}